:root {
  font-size: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;

  position: relative;
}

#logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;

  box-shadow: 0 3px 5px 1px #00000018;
  background-color: #478ed0;
  color: white;
}

#logo-container p:first-child {
  font-size: 2.5rem;
}

#add-book-btn {
  --outline-color: #4992d6;
  --bg-color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  fill: var(--outline-color);
  --svg-size: 24px;
  height: var(--svg-size);

  padding: calc(var(--svg-size) * 0.6);
  background-color: var(--bg-color);
  border: calc(var(--svg-size) * 0.15) solid var(--outline-color);
  color: var(--outline-color);
  border-radius: 32px;
}

#add-book-btn:hover,
#add-book-btn:focus-visible {
  --outline-color: white;
  --bg-color: #4992d6;
  cursor: pointer;
}

#add-book-btn svg {
  fill: inherit;
  background-color: inherit;
  width: var(--svg-size);
  height: var(--svg-size);
}

/* Modal */

#add-book-modal[open] {
  padding: 2rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.268);
  width: clamp(200px, 60%, 600px);

  position: absolute;
  top: 0px;
}

#add-book-modal form {
  display: grid;
  grid-template-rows: 4fr 1fr;

  width: 80%;
  max-width: 80%;
}

#add-book-modal #head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1.5rem auto;
  font-weight: bold;
  font-size: 1.5rem;
  color: #478ed0;
}

.close-add-book {
  --svg-size: 24px;
  height: var(--svg-size);
  width: var(--svg-size);

  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 100%;
}

.close-add-book svg {
  fill: black;
  height: var(--svg-size);
  width: var(--svg-size);

  border-radius: 100%;
}

.close-add-book:hover,
.close-add-book:focus-visible {
  background-color: #53535341;
  box-shadow: 0 0 1px 10px #53535341;
}

#add-book-modal form #body {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

#add-book-modal form #body .input-container {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.input-container .input {
  background-color: white;
  border: 1px solid #cecdcd;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  height: 1.6rem;
}

.input-container textarea.input {
  height: 2.5rem;
  resize: vertical;
}

.input-container .input:hover,
.input-container .input:focus,
.input-container .input:focus-visible {
  outline: none;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.089);
}

.input-checkbox {
  display: flex;
  gap: 0.5em;
  color: black;
  align-items: center;
}
.input-checkbox:hover,
.input-checkbox:focus-visible,
.input-checkbox:focus {
  cursor: pointer;
}
.input-checkbox input:hover,
.input-checkbox input:focus,
.input-checkbox input:focus-visible {
  cursor: pointer;
}
.input-checkbox input {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  font: inherit;
  color: grey;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid grey;
  border-radius: 0.15em;

  display: grid;
  place-content: center;
}

.input-checkbox input:checked {
  background-color: green;
}

form .foot {
  display: flex;
  align-items: flex-end;
}

#submit-book-btn {
  margin-top: auto;

  --primary-color: white;
  --bg-color: #478ed0;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 0.6rem 0.8rem;
}

#submit-book-btn:hover,
#submit-book-btn:focus-visible {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  background-color: var(--primary-color);
}

/* Library */

#books-card-container {
  display: grid;
  gap: 36px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  justify-content: center;

  width: 90%;
  margin: 0 auto;
  padding: 36px;
}

.books-card {
  display: grid;
  grid-template: 2fr 6fr 1fr 1fr / 8fr 1fr;

  box-sizing: border-box;
  padding: 12px 18px;
  background-color: white;
  box-shadow: 0 5px 25px 1px rgba(0, 0, 0, 0.273);
  border: none;
  border-radius: 5px;
  height: 300px;
}

.books-card p {
  margin: 0px;
  padding: 0px;
}

.books-card .title {
  grid-column: 1 / 2;

  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  color: #478ed0;

  display: flex;
}

.books-card .read {
  grid-row: -2;
}

.books-card .read button {
  border-radius: 3px;
  padding: 4px 6px;
  font-size: 0.75rem;

  --color: red;
  --bg-color: white;

  border: 1px solid var(--color);
  color: var(--color);

  background-color: var(--bg-color);
}

.books-card .read button.finished {
  --color: green;
  --bg-color: white;

  border: 1px solid var(--color);
  color: var(--color);

  background-color: var(--bg-color);
}

.books-card .read button:focus-visible,
.books-card .read button:hover {
  border: 1px solid var(--bg-color);
  color: var(--bg-color);

  background-color: var(--color);
}

.books-card .delete {
  grid-column: -2 / -1;

  margin-left: auto;

  --svg-size: 24px;
  width: var(--svg-size);
  height: var(--svg-size);
}

.books-card .delete button {
  width: var(--svg-size);
  height: var(--svg-size);

  background-color: transparent;
  border: none;
  border-radius: 100%;

  padding: 0;
  margin: 0;
}

.books-card .delete button:hover,
.books-card .delete button:focus-visible {
  outline: none;

  box-shadow: 0 0 1px 6px #a6a6a648;
  background-color: #a6a6a648;
  cursor: pointer;
}

.books-card .delete button svg {
  width: var(--svg-size);
  height: var(--svg-size);

  fill: red;
}

.books-card .synopsis {
  font-size: 0.8rem;
  line-height: 1.5;
}

.books-card .synopsis p:first-child {
  font-size: 1.05rem;
  margin: 0.25rem;
}

.books-card .author {
  grid-row: -1;

  font-size: 0.7rem;
  font-style: italic;
  margin-top: auto;
}

.books-card .pages {
  grid-row: -1;
  margin-top: auto;
  text-align: right;
}
